@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: FrizQuadrata;
    src: url("assets/Friz Quadrata Std Medium.otf") format("opentype");
}

@font-face {
    font-family: FrizQuadrata;
    font-weight: bold;
    src: url("assets/Friz Quadrata Bold.otf") format("opentype");
}